body{
	background: url(signup.jpg);
	background-repeat: no-repeat;
	background-size: 1400px 700px;
	background-blend-mode: luminosity;
}
.logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height:220px;
    border-radius: 30px;
    margin-top: 200px;
}